# Este archivo contiene variables de entorno para la configuración de la base de datos.
# Solo es necesario quitar el .example del nombre del archivo y completar los datos de la base de datos.

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=