* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9b4b4b;
}

.card {
  background: #e8e3df;
  width: 560px;
  height: 500px;
  padding: 30px 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.logo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover; 
  margin-bottom: 10px;

}

.card h2 {
  color: #666;
  margin-bottom: 20px;
}

.card .input-group {
  position: relative;
  margin-bottom: 15px;
}

.card .input-group input {
  width: 100%;
  height: 50px;
  padding: 12px 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #f5f5f5;
  box-shadow: inset 0 2px 3px rgba(0,0,0,0.1);
  font-size: 14px;
  transition: background 0.3s;
}

.card .input-group input:hover{
  background: #e0e0e0;
}


.card .input-group i {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.card .btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 12px;
  background: #b54747;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.card .btn:hover {
  background: #9e3c3c;
}